<nav class="navbar navlinks">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <h5>
            {{ page.contest_code | replace: '-', ' ' }} Solutions
        </h5>
        <i style="float: right;" class="fa fa-bars menu-icon" aria-hidden="true"></i>
    </button>

    <div class="navbar-collapse show" id="navbarSupportedContent">
        <div class="m-1">
            {% assign platforms = site.solutions | group_by:"category" %}
            {% for platform in platforms %}

            {% assign contests = platform.items | group_by_exp:"post", "post.contest_name" %}
            {% for contest in contests %}
            {% if contest.name == page.contest_name %}

            <ul style="line-height: 0.9; padding-top: 0.2em; margin-bottom: 0;">
                {% for post in contest.items %}
                {% assign postCategory = post.title | downcase %}
                {% assign pageCategory = page.contest_name | replace: '-', ' ' | downcase %}
                {% if postCategory != pageCategory %}
                <li style="line-height: 1;">
                    <a href="{{ post.url | absolute_url }}">{{ post.problem_name }}</a>
                    <br>
                    <small>[{{ post.problem_code }}]</small>
                    <span class="tag" style="font-size: 11px;">
                        &lt;{{ post.tags | join: '/&gt; &lt;' }}/&gt;
                    </span>
                </li>
                <br>
                {% endif %}
                {% endfor %}
            </ul>

            {% endif %}
            {% endfor %}

            {% endfor %}
        </div>
    </div>
</nav>