<div class="social d-flex flex-column justify-content-center w-100">
    <a href="{{ '/' | relative_url }}search" class="text-center w-100 mt-3 mb-2">
      <i class="fa fa-sm fa-search"></i>
    </a>
    <div class="social-links-bar d-flex justify-content-center mb-2">
        {% if site.facebook %}
        <a href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-facebook-official" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-github" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.gitlab %}
        <a href="https://gitlab.com/{{ site.gitlab }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-gitlab" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.hacker_news %}
        <a href="https://news.ycombinator.com/user?id={{ site.hacker_news }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-hacker-news" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.instagram %}
        <a href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-instagram" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.linkedin %}
        <a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-linkedin" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.mastodon %}
        <a href="{{ site.mastodon }}" target="_blank" rel="me noopener">
            <i class="fab fa-lg fa-mastodon" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.medium %}
        <a href="https://medium.com/@{{ site.medium }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-medium" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.pinterest %}
        <a href="https://pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-pinterest" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.stackoverflow %}
        <a href="https://stackoverflow.com/{{ site.stackoverflow }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-stack-overflow" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.reddit %}
        <a href="https://reddit.com/u/{{ site.reddit }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-reddit-alien" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.twitch %}
        <a href="https://twitch.tv/{{ site.twitch }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-twitch" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.twitter %}
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-twitter" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.steam %}
        <a href="https://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-steam" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.telegram %}
        <a href="https://t.me/{{ site.telegram }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-telegram" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if site.youtube %}
        <a href="https://youtube.com/{{ site.youtube }}" target="_blank" rel="noopener">
            <i class="fab fa-lg fa-youtube-play" aria-hidden="true"></i>
        </a>
        {% endif %}
    </div>
    {% if site.show_thm_htb_badges_in_nav %}
    <div class="htb_badge d-flex justify-content-center">
        {% if site.htb_badge_no %}
        <script src="https://www.hackthebox.eu/badge/{{ site.htb_badge_no }}"></script>
        {% endif %}
    </div>
    <div class="thm_badge">
        {% if site.thm_badge_no %}
        <script src="https://tryhackme.com/badge/{{ site.thm_badge_no }}"></script>
        {% endif %}
    </div>
    {% endif %}
</div>
