/*

Prism.js config: https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+apacheconf+aspnet+bash+basic+brainfuck+c+csharp+cpp+cmake+csp+css-extras+dart+diff+docker+excel-formula+git+go+graphql+haskell+http+java+js-extras+json+julia+kotlin+latex+liquid+lisp+lua+makefile+markdown+markup-templating+matlab+nand2tetris-hdl+nasm+nginx+objectivec+pascal+perl+php+php-extras+powershell+processing+protobuf+python+r+jsx+tsx+regex+ruby+rust+sass+scss+scala+sql+swift+typescript+vbnet+verilog+vhdl+visual-basic+wasm+xml-doc+yaml&plugins=line-highlight+line-numbers+show-language+command-line+toolbar+copy-to-clipboard+download-button+diff-highlight

*/

@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $default !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

@mixin media-max-width($max-width) {
  @media (max-width: $max-width) {
      @content;
  }
}

@font-face {
  font-family: "Cascadia Code";
  src: url("../fonts/CascadiaCode/CascadiaCodePL.otf") format("otf"),
       url("../fonts/CascadiaCode/CascadiaCodePL.ttf") format("ttf"),
       url("../fonts/CascadiaCode/CascadiaCodePL.woff2") format("woff2");
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "Cascadia Code" !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: overlay;
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  margin: 0 auto;
  padding: 0 !important;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #000;
  width: 25%;
  height: 100%;
  float: left;
  padding: 10px;
  margin: 0 0 40px 0;
}

footer {
  display: none;
  position: fixed;
  background: #000;
  width: 25%;
  text-align: center;
  bottom: 0px;
  float: left;
}

#bottom-bar {
  display: none;
}

#content, #comments {
  width: 75%;
  overflow-y: overlay;
  margin-top: 20px;
  float: right;
}

#header h1 {
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  font-family: monospace !important;
  color: $default;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  border-bottom: none;
  margin-bottom: 10px;
  font-variant-numeric: oldstyle-nums;
  -webkit-font-smoothing: antialiased;
}

#header h1::before {
  content: "./";
}

.nav-buttons > *{
  font-family: monospace !important;
  font-size: 18px !important;
}

#header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content
*/

#main_content, #disqus_container {
  width: 70%;
  margin-left: 5%;
  margin-bottom: 0px !important;
  float: left;
  -webkit-font-smoothing: antialiased;
}

section img {
  max-width: 100%
}

h1 {
  border-bottom: 1px dashed $default;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
  vertical-align: baseline;
}

#main_content h1 span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image:url('../images/bullet.png');
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: $default;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed $default;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 1px;
  border: 0;
  border-bottom: 1px dashed $default;
  color: $default;
}

img {
  vertical-align: middle;
}

/* Buttons
*/

input, .input-group-text {
  background: black !important;
  border: 1px solid #b4e85385 !important;
}

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border: 1px solid #b4e85385;
  border-bottom: 1px solid #b4e85385;
  border-top: 1px solid #b4e85385;
  color: $default;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  border: 1px solid $default;
  color: $default;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

input:focus, .btn:active {
  border: 2px solid $default !important;
  color: $default !important;
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

#top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: $default;
  border: 1px solid $default;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

#a-title {
  text-decoration: none;
}

.navbar {
  padding: 0.3rem !important
}

.nav-main {
  flex-wrap: wrap;
}

.nav-main > a {
  color: #fff;
}

.nav-main > a::before {
  content: "~/";
}

.navlinks {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #b4e85385;
}

.navbar-toggler {
  width: 100%;
  font-size: 1em !important;
  outline: 0 !important;
  color: $default;
  text-align: left;
}

.navbar-toggler > span {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navlinks > #navbarSupportedContent {
  word-spacing: -4px;
  padding-left: 0px;
  max-height: 300px;
  overflow: auto;
}

h1 > .anchor, h2 > .anchor {
  display: none;
}

h1:hover > .anchor, h2:hover > .anchor {
  display: inline;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -o-transition: opacity 0.2s ease-in-out 0.1s;
  transition: opacity 0.2s ease-in-out 0.1s;
}

div.code-toolbar > .toolbar > .toolbar-item > * {
  padding: 5px !important;
  margin: 2px !important;
  font-size: 0.8em !important;
  vertical-align: middle !important;
}

div.code-toolbar > .toolbar > .toolbar-item > a[download]{
  font-size: 0.8em;
  text-decoration: none;
}

#divider-line {
  color: $default;
}

#accordion {
  cursor: pointer;
}

.section-title {
  font-size: large;
  color: $default;
  margin-bottom: 10px;
}

blockquote{
  margin: 0px !important;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid;
  border-right: 50px solid;
  border-image: url("../images/quote.png"); 
  border-image-slice: 50% 50% 50% 50% fill;
  border-image-repeat: stretch;
}

code {
  background: rgba(0,0,0,0.9);
  padding: 0px 3px;
  margin: 0px -3px;
  font-size: 18px;
  color: #aa759f;
  border-radius: 2px;
}

pre {
  max-height: 400px;
}

.fa, .fab, .far {
  color: $default;
}

.tag {
  color: $default;
}

.points {
  float: right;
  font-size: smaller;
}

#desc_show {
  display: inline;
  cursor: pointer;
  background: transparent ;
  color: $default;
  border: none;
  font-size: 16px;
}

.modal .modal-dialog {
  max-width: 95%;
}

.modal-header {
  background: #313131;
}

.modal-content {
  border: none;
}

.modal-body {
  background: #292929;
}

.modal-dialog {
  width: max-content;
}

.list-group-item {
  background-color: black;
  color: white;
}

.list-group-item {
  border-radius: 5px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-group-item:active, .list-group-item:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}

@media print, screen and (max-width: 960px) {
  #header {
    position: unset;
    height: auto;
  }

  footer {
    width: 100%;
  }

  #header, #content, #comments {
    float: none;
    width: 100%;
  }

  #main_content, #disqus_container {
    width: 90%;
  }
}

#comments, #disqus_container {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.card {
  background-color: black;
  border: 1px solid gray;
}

.card-header > h3 {
  margin-bottom: 0px;
}

.accordion .card-header h3::after {
  font-family: 'FontAwesome';  
  content: "\f068"; 
  float: right;
}
.accordion .card-header.collapsed h3::after {
  content: "\f067"; 
}

.social {
  bottom: 10px;
}

.social > .thm_badge, .social > .htb_badge {
  text-align: center;
}

.social-links-bar > * {
  padding: 10px;
}

#share-links {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: 0px solid transparent;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3e3e3e;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-thumb:active {
  background: #4d4d4d;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none transparent;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
