---
layout: default
---

<h4>{{ page.category | replace: '-', ' ' }}</h4>
<h1>{{ page.title }} <span class="points"> [{{ page.points }} pts] </span></h1>
<small>{{ page.date | date: "%-d %B %Y" }}</small>

{% include tags.html %}

<br>

{% if page.chall_description %}
<img style="display: none;" src="{{ page.chall_description }}"" alt=" Challenge Description">
<div id="desc_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img class="chall_description" src="{{ page.chall_description }}" style="max-height: 500px;"
          alt="Challenge Description">
      </div>
    </div>
  </div>
</div>
<h4>Challenge Description:
  <button id="desc_show" role="button" data-toggle="modal" data-target="#desc_modal" class="fa fa-eye"
    aria-hidden="true">
  </button>
</h4>
{% endif %}
<script>

</script>

{{content}}

<div id="share-links">
  ____
  <br>
  Share this writeup:&nbsp;
  <a
    href="javascript:window.open('https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}','Windows','width=650,height=350,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,directories=no,status=no')"><i
      class="fa fa-facebook-official" aria-hidden="true"></i></a>&nbsp;
  <a
    href="javascript:window.open('https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text=Writeup+for+{{ page.title }}+from+{{ page.category }}+held+on+{{ page.date }}&hashtags=ctf,writeup,{{ page.slug }},{{ page.category }},{{ page.tags | join: ','}}','Windows','width=600,height=500,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,directories=no,status=no')"><i
      class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;
  <a
    href="javascript:window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}&text=Writeup+for+{{ page.title }}+from+{{ page.category }}+held+on+{{ page.date }}','Windows','width=650,height=350,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,directories=no,status=no')"><i
      class="fa fa-linkedin" aria-hidden="true"></i></a>
</div>